/*--- collections-content- START---*/

#topCollections {
   margin-top: 25rem;
}

.collections-content {
   width: 100%;
}

.collections-content h3 {
   padding-bottom: 2rem;
}

.collections-menu {
   min-width: 100%;
}

.collections-menu ul {
   display: flex;
   justify-content: space-between;
   flex-flow: row wrap;
   text-align: center;
}
.collections-menu ul li {
   font-weight: 600;
   font-size: 1.6rem;

   padding: 1rem 3.5rem;
   border: 1px solid #fff;
   border-radius: 6rem;
}

.collections-menu ul li:hover {
   background-color: #2f80ed;
   border: 1px solid #2f80ed;
}

.collections-gallery {
   min-width: 100%;
   display: flex;
   justify-content: center;
   grid-column-gap: 2.9rem;
   grid-row-gap: 4.9rem;
   flex-flow: row wrap;

   padding-top: 6.5rem;

   filter: drop-shadow(16px 16px 80px rgba(4, 0, 255, 0.295));
}

.cardi {
   max-width: 32.5rem;

   padding: 2rem;

   background: linear-gradient(
      155.14deg,
      rgba(255, 255, 255, 0) -2.13%,
      rgba(255, 255, 255, 0.15) 136.58%
   );
   filter: drop-shadow(0px 4px 49px rgba(0, 7, 72, 0.12));
   backdrop-filter: blur(14px);

   border-radius: 2rem;
}

.cardi:hover {
   transform: scale(1.02);
}

.coll-img {
   text-align: center;
   padding-bottom: 1.7rem;
}

.coll-img img {
   min-width: 100%;
}

.coll-details {
   display: flex;

   justify-content: space-between;

   padding-top: 2rem;
}
/*--- collections-content - END ---*/
