/*--- footer - START ---*/

footer {
   margin-top: 21.4rem;
}

footer,
footer .container {
   background-color: #0e1135;
}

.footer--content {
   min-width: 100%;
}

/* footer top - START */

.footer-top {
   text-align: center;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   padding: 5rem 0;
}

.footer-top-title h4 {
   font-weight: 600;
   font-size: 3rem;
}

.footer-top-title p {
   font-weight: 400;
   font-size: 1.2rem;
   line-height: 3rem;

   padding: 2rem 0;
}

.footer-top-search {
   display: flex;
   background-color: #fff;
   max-width: 100%;
   width: 50rem;
   height: auto;

   padding: 0.2rem;
   border-radius: 2rem;

   align-items: center;
}

.search {
   width: 100%;
   height: 100%;

   padding: 1rem 0.3rem 1rem 2.5rem;
   border-radius: 2rem;

   border: 0;
   outline: none;

   font-weight: 400;
   font-size: 1.6rem;
   line-height: 2.7rem;
}

.submit {
   padding: 1rem 3rem;

   border-radius: 2rem;
   border: none;

   background-color: #2f80ed;
   color: #fff;

   font-weight: 600;
   font-size: 1.6rem;
   line-height: 2.7rem;

   cursor: pointer;
}

.submit:hover {
   opacity: 0.9;
}

/* footer top - END */

/* footer bottom - START */

.footer-bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-top: 5rem;
}

.footer-bottom-left,
.footer-bottom-mid,
.footer-bottom-right {
   display: flex;
   flex-direction: column;
}

.footer-bottom-left p {
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 2.4rem;
}

.logo {
   width: 17rem;
   height: auto;

   padding-bottom: 1rem;
}

.footer-bottom-mid h4,
.footer-bottom-right h4 {
   font-weight: 600;
   font-size: 3.2rem;
   line-height: 4.8rem;
}

.footer-bottom-mid a,
.footer-bottom-right a {
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 3rem;
   color: #e0e0e0;
}

.footer-bottom-mid a:hover,
.footer-bottom-right a:hover {
   text-decoration: underline;
}

.social {
   padding-top: 1rem;
}

.social a {
   margin-right: 2rem;
}

.social a:last-child {
   margin-right: 0;
}

/* footer bottom - END */

.copyright {
   padding-top: 4rem;
   text-align: center;
}

.copyright a:hover {
   text-decoration: underline;
}
/*--- footer - END ---*/
