@import './header-content.css';
@import './partners-content.css';
@import './carousel-content.css';
@import './collections-content.css';
@import './categories-content.css';
@import './create_nfts-content.css';
@import './articles-content.css';
@import './footer.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*--------------------------*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: #fff;
}

ul,
li {
   list-style: none;
}

html {
   font-size: 10px;
   font-family: 'Poppins', sans-serif;
}
body {
   background-color: #141943;
   color: #fff;

   overflow-x: hidden;
}

::-webkit-scrollbar {
   background-color: #0e1135;
   width: 0.8rem;
}
::-webkit-scrollbar-thumb {
   background-color: #2f80ed;
   border-radius: 1rem;
}

#bg {
   background-image: url('../bg.svg');
   background-repeat: no-repeat;
   background-position-y: -350px;
   background-size: cover;
}

h3 {
   font-size: 5.5rem;

   text-align: center;

   background-image: linear-gradient(
      90deg,
      #69eacb 41%,
      #eaccf8 48%,
      #6654f1 100%
   );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;

   margin-bottom: 6.5rem;
}

.btn {
   display: flex;

   padding: 1.5rem 5rem;
   border: 1px solid #fff;
   border-radius: 6rem;

   font-size: 1.6rem;
   font-weight: 600;
   font-size: 24px;
   line-height: 36px;

   width: fit-content;
   margin: 0 auto;
   margin-top: 8rem;
   cursor: pointer;
}

.btn:hover {
   background-color: #2f80ed;
   border: 1px solid #2f80ed;
}

#btnMobile {
   display: none;
}

.container {
   margin: 0 auto;
   max-width: 1024px;
   padding: 1rem;
   background-color: #141943;
}

/*------- Animation */

@keyframes fromTop {
   from {
      transform: translateY(-10rem);
   }

   to {
      transform: translateY(0);
   }
}

@keyframes fromLeft {
   from {
      opacity: 0;
      transform: translateX(-10rem);
   }

   to {
      opacity: 1;
      transform: translateX(0rem);
   }
}

@keyframes fromRight {
   from {
      opacity: 0;
      transform: translateX(10rem);
   }

   to {
      opacity: 1;
      transform: translateX(0rem);
   }
}

/* -------------------------- */
/* -------------------------- */
/* -------------------------- */

@media (min-width: 1440px) {
   .header-low-left-title h1 {
      font-size: 4vw;
      line-height: 3.3vw;
   }

   .header-low-left-title p {
      font-size: 0.7vw;
      line-height: 1vw;
   }

   #topCollections {
      padding: 0 10rem;
   }
}

@media (min-width: 694px) and (max-width: 886px) {
   /* ----- */
   /*--- HEADER - START */

   .header-content {
      flex-direction: column;
   }

   .header-low-content {
      flex-direction: column;
      text-align: center;
   }

   .header-low-left-title h1 {
      text-align: center;

      font-size: 10vw;
      line-height: 8vw;
   }

   .header-low-left-title p {
      font-weight: 100;
      font-size: 1.8vw;
      line-height: 2.3vw;
      text-align: center;
   }

   .header-low-left-buttons {
      justify-content: center;
   }

   .header-low-left-about {
      justify-content: center;
   }
   /*--- HEADER - END */

   /*--- carousel-content - START---*/

   .arrow-left,
   .arrow-right {
      opacity: 0;
      max-width: 6rem;
      width: 6rem;

      z-index: 1;
   }

   .arrow-left:hover,
   .arrow-right:hover {
      opacity: 1;
   }

   /*--- carousel-content - END---*/

   /*--- collections-content- START---*/

   .collections-menu ul {
      flex-flow: row wrap;
   }

   .collections-menu ul li {
      width: 50%;
   }

   /*--- collections-content- END---*/
}

/* -------------------------- */
/* -------------------------- */
/* -------------------------- */

@media (max-width: 693px) {
   /*--- MENU MOBILE - START */

   #menu {
      display: block;
      position: absolute;

      width: 100%;
      height: 0;
      top: 10rem;
      right: 0;

      background-color: #52ff00;
      text-align: center;
      padding: 0 2rem;

      font-size: 2rem;

      z-index: 999;

      transition: 0.5s;
      visibility: hidden;
   }

   #menu li {
      border-bottom: 1px solid #fff;
      margin-right: 0;
      padding: 2rem 0;
   }

   #menu li:last-child {
      margin: 2rem 0;
   }

   #menu li a {
      color: #141943;
   }

   #nav.active #menu {
      display: block;
      height: 100vh;
      visibility: visible;
      overflow-y: auto;
   }

   #btnMobile {
      display: flex;
      padding: 0.5rem 1rem;

      font-size: 1.2rem;

      border: none;
      background: none;

      cursor: pointer;
      color: #fff;

      gap: 0.5rem;

      align-items: center;
   }

   #trice {
      width: 2rem;
      border-top: 2px solid;
   }

   #trice::after,
   #trice::before {
      content: '';
      display: block;
      width: 2rem;
      height: 2px;
      background-color: #fff;
      margin-top: 0.5rem;
   }

   /*--- MENU MOBILE - END */
   /* ----- */
   /*--- HEADER - START */

   .header-low-content {
      flex-direction: column;
      text-align: center;
   }

   .header-low-left-title h1 {
      text-align: center;

      font-size: 13vw;
      line-height: 12vw;
   }

   .header-low-left-title p {
      font-weight: 100;
      font-size: 3.3vw;
      line-height: 3.5vw;
      text-align: center;
   }

   .header-low-left-buttons {
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
   }

   .header-low-left-buttons button {
      margin-right: 0;
   }

   .header-low-left-about {
      justify-content: center;
      flex-direction: column;
   }
   .left-about {
      margin-right: 0;
   }

   /*--- HEADER - END */

   /*--- carousel-content - START---*/

   .arrow-left,
   .arrow-right {
      opacity: 0;
      max-width: 6rem;
      width: 6rem;

      z-index: 1;
   }

   .arrow-left:hover,
   .arrow-right:hover {
      opacity: 1;
   }

   .card {
      max-width: 28rem;
      min-width: 26rem;
   }

   .created-name p:nth-child(1) {
      font-size: 1.6rem;
      width: 100%;
   }

   .created-name p:nth-child(2) {
      font-size: 1.3rem;
   }

   .details-back p:nth-child(1),
   .details-later p:nth-child(1),
   .details-price p:nth-child(1) {
      font-size: 1.6rem;
   }

   /*--- carousel-content - END---*/

   /*--- collections-content- START---*/

   .collections-menu ul {
      flex-flow: column;
   }

   /*--- collections-content- END---*/

   /*--- categories-content - START ---*/

   .swiper-button-prev::after,
   .swiper-button-next::after {
      display: none;
   }

   /*--- categories-content - END ---*/

   /*--- create_nfts-content - START ---*/

   .created_or_sell {
      flex-direction: column;
   }

   /*--- create_nfts-content - END ---*/

   /*--- articles-content - START ---*/

   .articles--cards {
      justify-content: center;
      flex-wrap: wrap;
   }

   /*--- articles-content - END ---*/

   .footer-bottom {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 2rem;
   }
}
