@import './header.css';
@import './parttners.css';
@import './trending-nfts.css';
@import './topCollections.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*------------------------*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 10px;
}

ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

::-webkit-scrollbar {
   background-color: #2f80ed;
   width: 0.5rem;
}

::-webkit-scrollbar-thumb {
   background-color: #fff;
   border-radius: 3rem;
}

:root {
   --color-bg: #141843;
   --color-white-text: #fff;
   --color-green-light: #52ff00;
   --color-blue-light: #2f80ed;
   --transition: 0.95s ease;
}

body {
   background-color: var(--color-bg);
   font-size: 1.6rem;
   font-family: 'Poppins', sans-serif;
   color: var(--color-white-text);
}

.container {
   max-width: 1040px;
   margin: 0 auto;

   padding-top: 3.1rem;
   padding-left: 1rem;
   padding-right: 1rem;
}

main {
   background-image: url('./public/bg-tech.svg');
   background-position: 0 10rem;
   background-size: cover;
   background-repeat: no-repeat;
}

/*------------------------*/
/* @MEDIA QUERIES */

@media (min-width: 1420px) {
   .hd-section-left-title h1 {
      font-size: 4.2vw;
      line-height: 3.5vw;
   }
}

/*------------------------*/

@media (min-width: 671px) and (max-width: 864px) {
   #header {
      flex-direction: column;
   }
   #section {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
   .hd-section-left {
      padding-top: 4rem;
   }
   .hd-section-left-title h1 {
      font-size: 9vw;
      line-height: 7.8vw;
   }

   .hd-section-left-title p {
      font-size: 2vw;
      line-height: 3vw;
   }

   .hd-section-left-buttons {
      justify-content: center;
   }

   .hd-section-left-about {
      justify-content: center;
   }

   .arrow-left,
   .arrow-right {
      opacity: 0.1;
   }

   .arrow-left:hover,
   .arrow-right:hover {
      opacity: 1;
   }

   .top-collections-nav nav ul li {
      width: 50%;
      display: flex;
      justify-content: center;
      padding: 0.2rem;
   }

   .top-collections-nav nav ul li a {
      width: 100%;
      text-align: center;
   }
}
/*------------------------*/

@media (max-width: 670px) {
   #header {
      flex-direction: row;
   }

   #header a {
      flex: 1;
   }

   /* --- menu mobile --- start */

   #btnMenuMobile {
      display: flex;

      background-color: transparent;
      border: 0;
      color: var(--color-white-text);

      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;

      gap: 0.5rem;

      cursor: pointer;

      align-items: center;
   }

   #tr-hamb {
      border-top: 0.2rem solid;
      width: 2rem;
   }

   #tr-hamb::after,
   #tr-hamb::before {
      content: '';
      display: block;

      position: relative;

      width: 2rem;
      height: 0.2rem;

      background-color: currentColor;
      margin-top: 0.5rem;

      transition: 0.5s;
   }

   #nav.active #tr-hamb {
      border-top: transparent;
   }

   #nav.active #tr-hamb::after {
      transform: rotate(-135deg);
      top: -0.65rem;
   }

   #nav.active #tr-hamb::before {
      transform: rotate(135deg);
   }

   #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 12rem;
      left: 0;

      text-align: center;
      background-color: var(--color-white-text);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      height: 0;
      transition: 0.3s;
      z-index: 999;

      visibility: hidden;
      overflow-y: hidden;
   }

   #menu li {
      padding: 2rem;
      border-bottom: 1px solid rgba(239, 239, 239, 0.9);
   }

   #menu li:nth-child(4) {
      border-bottom: 0;
   }

   #menu li:last-child {
      margin: 0;
      border-bottom: 0;
   }

   #nav.active #menu li a {
      color: var(--color-bg);
   }

   #nav.active #menu {
      display: block;
      height: calc(100vh - 12rem);
      visibility: visible;
      overflow-y: auto;
   }

   /* --- menu mobile --- end */

   #section {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   /* --- rmv imagem do header (macaco) quando abrir o menu mobile */
   .hd-section-right img.activeRmv {
      display: none;
   }
   /*------------------------*/

   .hd-section-left {
      padding-top: 4rem;
   }
   .hd-section-left-title h1 {
      font-size: 13.5vw;
      line-height: 11.2vw;
   }

   .hd-section-left-title p {
      font-size: 3.5vw;
      line-height: 6vw;
   }

   .hd-section-left-buttons {
      justify-content: center;
      flex-direction: column;
   }

   .hd-section-left-about {
      justify-content: center;
      flex-direction: column;
   }
   /*-----------*/

   .arrow-left,
   .arrow-right {
      opacity: 0.1;
   }

   .arrow-left:hover,
   .arrow-right:hover {
      opacity: 1;
   }

   .top-collections-nav nav ul li {
      width: 100%;
      display: flex;
      justify-content: center;
   }

   .top-collections-nav nav ul li a {
      width: 100%;
      text-align: center;
   }

   .top-collections-gallery-card {
      width: 100%;
   }

   .top-collections-gallery-card .img-card img {
      width: 100%;
      height: auto;
   }
}
