.parttners {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background-color: transparent;

   padding-bottom: 38rem;
   padding-top: 17rem;
}

.parttners img {
   padding: 1rem;
}

.parttners img:nth-child(3) {
   padding: 0;
}
